<%= form_with(model: post, class:"form-post-container") do |form| %>
    <div class='post-form'>
      <%= form.text_field :title, class: 'title', placeholder: "Title" %>
      <%= form.text_field :content, class: 'content-textarea', placeholder: "Content" %>
      <div class='manage-post'>
          <%= form.submit class:'send-post' %>
      </div>
    </div>
<% end %>
