.post-container {
    color: white;
    background: #252437;
    overflow: hidden;
    border-radius: 2rem;
    width: 80%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    border: black 2px solid;
}

.post-container .title {
    font-weight: bold;
    padding: 1rem;
    grid-column: 1;
    grid-row: 1;
}

.post-container .content {
    color: white;
    padding: 2rem;
    word-break: break-all;
    white-space: initial;
    min-height: 3rem;
    grid-column: 1 / 5;
    grid-row: 2;
    border-radius: 0 2rem 0 2rem;
}

.post-container .time {
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 1rem;
    grid-column: 4;
    grid-row: 1;
}

.post-container .comments {
    padding: 1rem;
    gap: 1rem;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    grid-column: 1 / 5;
    grid-row: 5;
}

.post-container .manage-post {
    display: flex;
    flex-direction: row;
    aspect-ratio: 2 / 1;
    grid-row: 1 / 5;
    grid-column: 5;
    border: none;
    overflow: hidden;
}

.post-container .manage-post .edit-post {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    color: white;
    border: solid 2px #114505;
    background: #006505;
    width: 50%;
    cursor: pointer;
    aspect-ratio: 1 / 1;
    border-radius: 0 0 0 2rem;
}

.post-container .manage-post .delete-post {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    cursor: pointer;
    border: solid 2px #900000;
    background: #a00000;
    width: 50%;
    aspect-ratio: 1 / 1;
}