<div class="navbar">
  <%= link_to 'Home', posts_path, class:'button' %>
  <%= link_to 'Add post', new_post_path, class:'button' %>
  <form class="search">
    <input type="search" placeholder="Search..." name="search"/>
    <button type="submit">Search</button>
  </form>
</div>